.allBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 60px;
    width: 50%;
    margin: 0 auto;
}

.activeCell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: rgba(60, 179, 114, 0);
    cursor: pointer;
     border-radius: 10px;
}

.activeCell:hover {
    background-color: rgba(0, 0, 0, 0.091);
    border-radius: 10px;

}

.activeBoard {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 2px;
}

.inactiveBoard {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 2px;
}

.inactiveCell {
    background-color: rgba(192, 192, 192, 0);
    cursor: not-allowed;
    border-radius: 10px;
}

/* Стили для фонового затемнения */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* полупрозрачный черный цвет */
    z-index: 1000;
    /* чтобы поп-ап был выше остальных элементов */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Анимация для градиента */
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  /* Элемент с анимированным градиентом на фоне */
  html {
    background: linear-gradient(45deg, #ff7e5f, #feb47b, #ffeda6, #c1e1d6, #00ff99, #ff7e5f); /* Градиент */
    background-size: 300% 300%; /* Увеличиваем размер градиента */
    animation: gradientAnimation 20s ease infinite; /* Применяем анимацию к градиенту */
  }
  
/* Стили для самого поп-апа */
.activePopup {
    background-color: #1acfb700;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 400px;
    /* максимальная ширина поп-апа */
    position: absolute;
    /* изменено на абсолютное позиционирование */
    top: 50%;
    /* расположение по вертикали в середине */
    left: 50%;
    /* расположение по горизонтали в середине */
    transform: translate(-50%, -50%);
    /* сдвигаем на половину размеров элемента */
}

.inactivePopup {
    display: none;
}

/* Стили для текста проигрыша */
.activePopup pre {
    font-size: 24px;
    background-color: #2AA5A0;
    background-image: linear-gradient(45deg, #000000, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




/* Стили для кнопки новой игры */
.activePopup button {
    background-color: #4caf4f00;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* зеленый цвет кнопки */
    color: #fff;
    /* белый цвет текста на кнопке */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    /* чтобы кнопка занимала всю ширину родительского контейнера */
    margin-left: auto;
    /* выравнивание кнопки по центру */
    margin-right: auto;
}

.newGame{
    font-size: 20px;
    background-color: #2AA5A0;
    background-image: linear-gradient(35deg, #000000, #ff0000); /* Градиент */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}